<link rel="stylesheet" href="/stylesheets/footer.css">
<footer class="footer-section">
    <div class="footer-text">
        &copy; Social gym. A website where you can build your own gym comunity.
    </div>
    <div class="footer-links">
        <a href="">PRIVACY POLICY</a>
        <a href="">TERM AND CONDITIONS</a>
    </div>
</footer>