@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.header-section{
    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    justify-content: space-around;
    padding-bottom: 3em;
    
}
#header-img{
    width: 30%;
    border-right: 5px solid;
    border-bottom: 5px solid;
    border-color: #86FF70;
    padding-right: 1em;
    padding-bottom: 1em;
}
.main-p{
    margin-top: 2em;
    font-size: 4em;
    color: #86FF70;
}
button{
    color: 	black;
    border:2px solid #86FF70;
    background-color: #86FF70;
    font-size: 1.5em;
    padding: 1em 2em 1em 2em;
    border-radius: 2em;
    transition: all 0.5s;
    font-weight: bold;
}
button:hover{
    box-shadow: #86FF70 0px 5px 15px;
}
.mid-section{
    display: flex;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 9em;
}
.gym-card{
    margin-left: 2em;
    margin-right: 2em;
    width:30%;  
    text-align: center;
}
.mid-head{
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
    color: #86FF70;
}
.mid-head h1{
    margin-bottom: 2em;
}
.mid-head p{
    font-size: 3em;
    color: #bde0fe;
}
.card-heading{
    color: #86FF70;
    font-size: 2em;
}
.card-img{
    border-left: 5px solid;
    border-right: 5px solid;
    border-bottom: 5px solid;
    border-color: #86FF70;
    padding: 1em;
    transition: all 0.3s;
}
.card-info{
    font-size: 2em;
    margin-top: 1em;
    color: #bde0fe;
}
#padding-top{
    padding-top: 0.5em;
}
.card-img:hover{
    box-shadow: #86FF70 0px 5px 15px;
    cursor: pointer;
    border: none;
    padding: 0%;
}