@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

nav {
    font-family: 'Poppins', sans-serif;
    border-radius: 50px !important;
    padding: 0 40px !important;
}

a.nav-link {
    margin: 10px;
    padding: 10px 20px !important;
    color: #86FF70;
    border-radius: 50px;
}

a.nav-link:hover {
    color: #000000;
    background: #86FF70;
}

.navbar-toggler {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-toggler:active {
    outline: none;
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-toggler img {
    transition: width 0.15s ease-in-out;
}

.navbar-toggler.clicked img {
    width: 75px;
}