<title>Social Gym | Create Post</title>
<link rel="stylesheet" href="/stylesheets/creatPost.css">

<body>
    <form action="">
      <div>
        <label for="p-title">Title</label>
        <input type="text" id="p-title" name="title">
      </div>
      <div>
        <label for="p-description">Description</label>
        <textarea name="description" id="p-description" cols="30" rows="10"></textarea>
      </div>
      <div class="btn-container">
        <button>Create Post</button>
      </div>
    </form>
</body>