<title><%= user.fname %> | dashobard</title>
<link rel="stylesheet" href="/stylesheets/dashboard.css">
<body class="dashboard-body">
    <div class="card">
        <h1 class="card-heading"><%= user.username %></h1>
        <span class="card-span"><%= user.fname %> <%= user.lname %></span>
    </div>
</body>
