<% layout('templates/temp1') %>
<link rel="stylesheet" href="/stylesheets/home.css">
<header class="header-section">
    <img id = "header-img" src="/imgs/trial1.jpg" alt="">
    <div>
        <p class="main-p">Build you desire physique</p>
        <button>Get Started</button>
    </div>
</header>
<div class="mid-head">
    <h1>About</h1>
    <p>A plateform where you can share your workouts, music playlists, diets and gym advices. Help people to hunt there fitness goal and also get reviews and new ideas about your workouts.</p>
</div>
<section class="mid-section">
    <div class="gym-card">
        <div class="card-heading">
            Share your journey
        </div>
        <img class = "card-img" src="/imgs/progress.jpg" alt="">
        <p id="padding-top" class="card-info">Share your journey with people to inspire them.</p>
    </div>
    <div class="gym-card">
        <div class="card-heading">
            Your diet
        </div>
        <img class="card-img" src="/imgs/diet.jpg" alt="">
        <p class="card-info">Share your diet plans with people to help them to get into best shape and get review form them.</p>
    </div>
    <div class="gym-card">
        <div class="card-heading">
            Workout plans
        </div>
        <img class="card-img" src="/imgs/plans.jpg" alt="">
        <p class="card-info">Share your workout plans with people to inspire them get review form them.</p>
    </div>
</section>
