<% layout('templates/temp1') %>
<link rel="stylesheet" href="/stylesheets/home.css">
<header class="header-section">
    <img id = "header-img" src="/imgs/trial1.jpg" alt="">
    <div>
        <p>Build you desire physique</p>
        <button>Get Started</button>
    </div>
</header>
<section class="mid-section">
    <div class="card">
        <div class="card-heading">
            <h1>Share you progress</h1>
        </div>
        <div class="card-img">
            <img src="/imgs/progress.jpg" alt="">
        </div>
    </div>
</section>
