<% layout('templates/temp1') %>
<link rel="stylesheet" href="/stylesheets/home.css">
<header class="header-section">
    <img id = "header-img" src="/imgs/trial1.jpg" alt="">
    
    <div>
        <p>Build you desire physique</p>
        <button>Get Started</button>
    </div>
</header>
