<title>Social Gym | Sign in</title>
<link rel="stylesheet" href="/stylesheets/signIn.css">
<body>
    <form action="/signIn" method="POST">
        <div class="container">
            <label for="username" class="form-label">
                Username
            </label>
            <input type="text" id="username" name="username">
        </div>
    
        <div class="container">
            <label for="password" class="form-label">
                Password
            </label>
            <input type="password" id="password" name="password">
        </div>
        <button>Sign in</button>
    </form>
</body>