<title>Social Gym | Sign up</title>
<link rel="stylesheet" href="/stylesheets/signUp.css">
<section>
    <h1 class="first-heading">First step to your dream physique</h1>
    <form action="/signUp" method="post">
        <div class="container">
            <label for="fname" class="form-label">
                First name
            </label>
            <input type="text" id="fname" name="fname">
        </div>
        
        <div class="container">
            <label for="lname" class="form-label">
                Last name
            </label>
            <input type="text" id="lname" name="lname">
        </div>
        
        <div class="container">
            <label for="username" class="form-label">
                Username
            </label>
            <input type="text" id="username" name="username">
        </div>
        
        <div class="container">
            <label for="password" class="form-label">
                Password
            </label>
            <input type="password" id="password" name="password">
        </div>
        
        <button>Create Account</button>
    </form>
</section>